body {
    margin: 0px;
    font-family: arial;
    font-size: 18px;
}
h2 {
    margin: 10px 0px;
    text-align: center;
}
p {
    text-align: justify;
}
a {
    text-decoration: underline;
    font-style: italic;
    color: #c52031;
    cursor: pointer;
}

/*Page*/
.example-page {
    width: 700px;
    margin: 0px auto;
}
/*Promotion*/
.promotion {
    margin: 20px 0px;
    padding: 10px;
    border: 2px solid #cce4ca;
    border-radius: 10px;
    font-size: 1rem;
    color: #199746;
}
.promotion h2 {
    line-height: 40px;
    padding-left: 50px;
    text-align: left;
    background-image: url(/icons/promote.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 0px 0px;
}
.promotion ul {
    margin: 10px 0px;
    padding: 0px 0px 0px 10px;
    list-style: none;
}
.promotion li {
    line-height: 30px;
    padding: 0px 0px 0px 30px;
    background-image: url(/icons/point.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0px 0px;
}
/*Request form*/
.request-form {
    width: 250px;
    margin: 10px auto;
    padding: 20px;
    background-color: #cce4ca;
}
.request-form-caption {
    text-align: center;
}
.request-field {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px 0px 30px;
    border: none;
    background-image: url(/icons/text.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0px 0px;
}
.request-button {
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin: 5px auto;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    background-color: #199746;
}
.respondent {
    color: #199746;
    word-wrap: break-word;
}
.respondent img {
    display: block;
    max-width: 100%;
    margin: 0px auto;
}
/*Example text*/
.example-page-content p {
    font-size: 1rem;
    font-style: italic;
    text-indent: 2em;
}
.example-page-content p:first-letter {
    font-size: 1.2rem;
    font-weight: bold;
    color: #c52031;
}

/*MOBILE VERSION*/
@media all and (max-width: 740px) {
    .example-page {
        width: auto;
        margin: 0px 10px;
    }
}
@media all and (max-width: 480px) {
    .promotion h2 {
        line-height: unset;
        padding-left: 0px;
        text-align: center;
        background-image: none;
    }
    .promotion ul {
        padding: 0px;
    }
    .promotion li {
        line-height: 25px;
        padding: 0px;
        text-indent: 25px;
        text-align: justify;
        background-size: 25px;
    }
    .example-page-content p {
        text-indent: 1em;
    }
}
@media all and (max-width: 400px) {
    .request-form {
        width: auto;
    }
    .request-button {
        width: auto;
        max-width: 150px;
        height: auto;
    }
}
